<tr>
  <td><%= question.body %></td>
  <td><%= link_to 'показать', question_path(question) %></td>
  <td><%= link_to 'редактировать', edit_question_path(question) %></td>
  <td>
    <%= link_to 'удалить',
                question_path(question),
                'data-confirm': 'Вы уверены?',
                'data-method': :delete %>
  </td>
</tr>
