<% path = "/tests/#{params[:test_id]}/questions" %>
<form action="<%= path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="question[test_id]" value="<%= params[:test_id] %>">
  <div>
    <label for="question__body">Question:</label><br>
    <textarea id="question__body" name="question[body]" rows=5 cols=50></textarea>
  </div>
  <br>
  <input type="submit" value="Submit">
</form>
