<div>
  <b>Вопрос:</b>
  <div><%= @question.body %></div>
</div>
<br>
<div>
  <b>Ответы:</b>
  <ul>
    <% @question.answers.each do |answer| %>
      <li><%= answer.body %></li>
    <% end %>
  </ul>
</div>
<br>
<div>
  <b>Из теста:</b>
  <div><%= @question.test.title %></div>
</div>
<br>
<button>
  <a href="<%= question_path(@question) %>"
     data-confirm="Вы уверены?"
     data-method="delete">
     Удалить вопрос
  </a>
</button>
