<li>
  <%= answer.body %><br>
  <%= link_to 'show', answer_path(answer) %>
  <%= link_to 'edit', edit_answer_path(answer) %>
  <%= link_to 'delete',
                answer_path(answer),
                'data-confirm': 'Вы уверены?',
                'data-method': :delete %>
</li>
