<h1>Тесты</h1>
<p><%= link_to 'Новый тест', new_test_path %></p>
<table style="text-align: left">
  <tr>
    <th>Название</th>
    <th>Уровень</th>
    <th>Вопросы</th>
    <th colspan='4'>Действия</th>
  </tr>
  <%= render @test %>
</table>
